{% extends "client/base.html" %}
{% load static %}

{% block body %}

<div class="container mt-4">
    <h1 class="text-center">Client Information</h1>
    <hr>

    <div class="card mx-auto" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">{{ data.first_name }} {{ data.last_name }}</h5>
            <p class="card-text"><strong>ID:</strong> {{ data.id }}</p>
            <p class="card-text"><strong>Name:</strong> {{ data.first_name }} {{ data.last_name }}</p>
            <p class="card-text"><strong>Email:</strong> {{ data.email }}</p>
            <p class="card-text"><strong>Number:</strong> {{ data.phone }}</p>
            <p class="card-text"><strong>Address:</strong> {{ data.address }}</p>
            <p class="card-text"><strong>City:</strong> {{ data.city }}</p>
            <p class="card-text"><strong>Country:</strong> {{ data.country }}</p>
            <p class="card-text"><strong>Entry Date:</strong> {{ data.creation_date }}</p>

            <div class="text-center mt-4">
                <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">Return</a>
                <a href="{% url 'update' data.id %}" class="btn btn-outline-info mx-2">Update</a>
                <a href="{% url 'delete' data.id %}" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
